<div class="jumbotron">

	<center>
		<h1>Welcome to Zia's Pizza</h1>


		<img src="http://cookdiary.net/wp-content/uploads/images/Vegetable-Pizza_931.jpg">

		<br>

		<%= link_to "Check out our pizzas!", pizzas_path, class: "btn btn-default" %>
	</center>
</div>